/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* Estilos do cabeçalho */
.title {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

.title h1 {
    font-size: 2.5rem;
    margin: 0;
}

.title p {
    font-size: 1.2rem;
    margin: 0;
}

/* Estilos do conteúdo */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.contentPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imageGuitar {
    width: 400px;
    height: auto;
    margin: 10px;
}

.textContent {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer{
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    .title h1 {
        font-size: 2rem;
    }

    .title p {
        font-size: 1rem;
    }

    .contentPost {
        flex-direction: column;
    }

    .textContent {
        padding: 10px;
    }
}